


venv/
.env
train/*
Notebooks/trainLabels.csv
.DS_Store
Notebooks/trainLabels_master.csv
dev_images/*
my_venv_py311/
Biruni dataset/*
.DS_Store

prod_images/*
Preprocessed_images/*
Notebooks/binary_classification.csv

Biruni_Dataset-2.csv
Biruni_Preprocessed/*
