# Ignore all CSV files
*.csv

# Ignore image files
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.webp

# Ignore virtual environments
venv/
my_venv_py311/

# Ignore .env files
.env

# Ignore all images in specific folders
train/
dev_images/
prod_images/
Preprocessed_images/
Biruni_dataset/
Biruni_Preprocessed/
Notebooks/*.csv

# macOS hidden files
.DS_Store


!class-distribution.png